:root {
    --light-blue: #C7F1FF;
    --dark-blue: #21405B;
    --green: #3A5D43;
    --pink: #BEA2C2;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

i {
    font-size: 28px;
    padding: 5px;
}

h1,
h2,
h3,
h4,
#download-main {
    color: var(--dark-blue);
    font-family: Shadows Into Light Two, sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
    padding: 5px;
    margin: 0;
    text-decoration: underline var(--pink);
    text-underline-offset: 6px;
}

p,
li,
a {
    font-family: Dosis, sans-serif;
    font-size: 22px;
}

footer p {
    font-size: 16px
}

#bold {
    font-weight: bold;
    font-size: 22;
}

/* header */
#header {
    position: relative;
    background-color: var(--light-blue);
}

.header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.header-svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 135px;
}

.header-shape-fill {
    fill: #FFFFFF;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--light-blue);
    z-index: 10;
}

#navbar ul {
    padding: 0;
    margin: 0 auto;
}

#navbar li {
    list-style: none;
    display: inline;
    padding: 0 10px 0 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}

a:hover {
    color: var(--green);
    text-shadow: 1px 0 var(--dark-blue);
}


#header-intro {
    padding-top: 35px;
    padding-left: 35px;
    position: relative;
    margin-top: 15px;

}


#header-title,
#header-child {
    text-align: center;
    margin: 25px;
}

#download {
    padding: 10px;
    background-color: var(--pink);
    border: 0;
    border-radius: 100px;
}

#download:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

#welcome-section {
    display: flex;
    text-align: center;
    position: relative;
    padding: 5%;
    margin-top: 3vh;
    z-index: 5;
}

.welcome {
    border: 3px solid var(--dark-blue);
    background-color: #FFFFFF;
}

#welcome-text {
    flex: 2;
    transform: translateY(-70px);
    padding: 3vw;
}

.skills {
    width: 80%;
    margin: 0 auto;
}

.skills h3 {
    margin: 0;
    padding: 0;
}

.skills li {
    padding-top: 5px;
    list-style: none;
}

.skills li::before {
    content: "\25CF";
    color: var(--green);
    display: inline-block;
    margin-right: 8px;
}

#socials {
    flex: 1;
    max-height: 180px;
}

/* main */
#portfolio {
    padding-top: 50px;
    transform: translateY(-90px);
    z-index: 5;
}

#projects:not(h2) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}

.project-tile {
    width: 60vw;
    border: 2px solid white;
}

.project-tile:hover {
    border: 2px solid var(--dark-blue);
}

.project-desc {
    border-left: 3px solid var(--pink);
}

#submit {
    width: 140px;
    height: 50px;
    background-color: var(--pink);
    border: 0;
    border-radius: 100px;
    margin: 0 auto;
}

#submit:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

#work {
    transform: translateY(-40px);
    z-index: 5;
}

#resume {
    padding: 10px;
}

.resume-accordian {
    position: relative;
    padding: 45px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--pink);
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}

.job {
    float: left;
    font-size: 22px;
}

.time {
    float: right;
    padding-right: 25px;
}

.resume-accordian i {
    position: absolute;
    right: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 20px;

}


.active,
.resume-accordian:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

.details {
    clear: both;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    width: 90%;
    margin: 0 auto;
}

#download-main {
    padding: 20px 40px;
    background-color: var(--dark-blue);
    font-size: 22px;
    color: white;
    border: 0;
    border-radius: 100px;
}

#download-main:hover {
    background-color: var(--pink);
    color: var(--dark-blue);
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--pink);
    height: 80px;
    padding: 30px;
}


@media only screen and (min-width: 1301px) {
    #header-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 105vh;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }

    #header-intro {
        padding-bottom: 15vh;
    }

    #welcome-section {
        padding-top: 15vh;
        max-width: 50vw;
        min-width: 35vw;
    }

    .welcome {
        border-radius: 15%;
    }

    #socials {
        transform: translateX(-45px);
    }

    .project-desc {
        padding-top: 15vh;
        padding-left: 1vw;
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 751px) {
    #header-text {
        flex: none;
        height: 125vh;
    }

    #header-title {
        padding-top: 3vh;
    }

    #header-child:last-child {
        padding-bottom: 3vh;
    }


    #welcome-section {
        margin: 0 auto;
        max-width: 80vw;
        min-width: 55vw;
    }

    .welcome {
        border-radius: 25px;
    }

    #socials {
        transform: translateX(-45px);
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    #projects {
        padding-left: 1vw;
    }

    .project-desc {
        padding-top: 7vh;
        padding-left: 2vw;
    }

    #socials {
        transform: translateX(-25px);
    }
}

@media only screen and (max-width: 750px) and (min-width: 521px) {
    #header-text {
        display: block;
        height: 155vh;
    }

    #header-title {
        padding-top: 3vh;
    }

    #header-child:last-child {
        padding-bottom: 6vh;
    }


    #welcome-section {
        display: block;
        margin: 0 auto;
        max-width: 80vw;
    }

    .welcome {
        border-radius: 25px;
    }

    #socials {
        padding: 0;
        margin: 0 auto;
        width: 50%;
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    #projects {
        padding-left: 1vw;
    }

    .project-desc {
        padding-top: 7vh;
        padding-left: 2vw;
    }

}

@media only screen and (max-width: 520px) {
    #header-text {
        display: block;
        height: 220vh;
        background-color: white;
    }

    #header-title {
        padding-top: 3vh;
    }

    #header-child:last-child {
        padding-bottom: 6vh;
    }


    #welcome-section {
        display: block;
        margin: 0 auto;
        max-width: 80vw;
    }

    .welcome {
        border-radius: 25px;
    }

    #socials {
        padding: 0;
        margin: 0 auto;
        width: 50%;
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    #projects {
        padding-left: 1vw;
    }

    .project-desc {
        padding-top: 7vh;
        padding-left: 2vw;
    }
}