:root {
    --light-blue: #C7F1FF;
    --dark-blue: #21405B;
    --green: #3A5D43;
    --pink: #BEA2C2;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

i {
    font-size: 28px;
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    color: var(--dark-blue);
    font-family: Shadows Into Light Two, sans-serif;
    letter-spacing: 1px;
}
h2 {
    font-size: 28px;
    padding: 5px;
}
p,
a {
    font-family: Dosis, sans-serif;
    font-size: 18px;
}

#bold {
    font-weight: bold;
    font-size: 20;
}

/* header */
#header {
    position: relative;
    background-color: var(--light-blue);
}

.header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 135px;
}

.header-shape-fill {
    fill: #FFFFFF;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--light-blue);
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 10px 0 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
}

a:hover {
    color: var(--green);
    text-shadow: 1px 0 var(--dark-blue);
}


#header-intro {
    padding-top: 35px;
    padding-left: 35px;
    margin-top: 15px;
}


#header-title,
#header-child {
    text-align: center;
}

#header-title {
    padding-top: 80px;
}



#welcome-section {
    display: flex;
    max-width: 50vw;
    min-width: 35vw;
    text-align: center;
    padding: 5%;
    margin-top: 3vh;

}

.welcome {
    border: 3px solid var(--dark-blue);
    border-radius: 15%;
    background-color: #FFFFFF;
}

#welcome-text {
    flex: 2;
    transform: translateY(-70px);
    padding: 3vw;
}

#socials {
    flex: 1;
    transform: translateX(-45px);
    max-height: 180px;
}

/* main */
#projects:not(h2) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}

.project-tile {
    width: 60vw;
    border: 2px solid white;
}

.project-tile:hover {
    border: 2px solid var(--dark-blue);
}

.project-desc {
    border-left: 3px solid var(--pink);
}

#submit {
    width: 140px;
    height: 50px;
    background-color: var(--pink);
    border: none;
    border-radius: 30%;
    margin: 0 auto;
}

#submit:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

#resume {
padding: 10px;
}
.resume-accordian {
    position: relative;
    padding: 15px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--pink);
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}
.job {
    float: left;
}
.time {
    float: right;
    padding-right: 25px;
}

.resume-accordian i{
    position: absolute;
    right: 0;
    padding: 0;
    margin-right: 10px;
font-size: 20px;

 }


.active,
.resume-accordian:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

.details {
    clear: both;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    width: 90%;
    margin: 0 auto;
}

/* footer */
footer {
    background-color: var(--pink);
    height: 60px;
}


@media only screen and (min-width: 1301px) {
    #header-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 65vh;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }

    #header-intro {
        height: 30vh;
        padding-bottom: 15vh;
    }

    #welcome-section {
        padding-top: 12vh;
    }

    .project-desc {
        padding-top: 15vh;
        padding-left: 1vw;
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 1300px) {
    #header-text {
        flex: none;
        height: 85vh;
    }

    #header-intro {
        height: 30vh;
    }

    #welcome-section {
        margin: 0 auto;
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    #projects {
        padding-left: 1vw;
    }

    .project-desc {
        padding-top: 7vh;
        padding-left: 2vw;
    }

    #socials {
        transform: translateX(-25px);
    }
}